
    body {
      background: #f5f5f5;
      font-family: "Inter", sans-serif;
      min-height: 100vh;
    }

    .screen-wrapper {
      max-width: 450px;
      margin: auto;
      min-height: 100vh;
      background: #ffffff;
      border-radius: 28px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0,0,0,0.08);
      position: relative;
    }

    .bg-arc {
      width: 500px;
      height: 700px;
      background: linear-gradient(to bottom, #8ae79b, #ffffff);
      border-radius: 50%;
      position: absolute;
      top: -320px;
      left: -70px;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
      padding: 40px 28px;
      padding-top: 140px;
    }

    h2 {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 12px;
    }

    .form-control {
      border-radius: 25px;
      padding: 12px 18px;
      border: 1px solid #d9d9d9;
      font-size: 0.95rem;
    }

    .form-control:focus {
      border-color: #18a140;
      box-shadow: 0 0 0 0.1rem rgba(24,161,64,0.25);
    }

    .signin-link {
      color: #18a140;
      text-decoration: none;
      font-weight: 600;
    }

    .btn-submit {
      background: linear-gradient(to right, #18a140, #4dd765);
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 24px;
      padding: 12px;
      width: 100%;
    }
    .google-btn{
      font-weight: 600;
      border-radius: 24px;
      padding: 12px;
      width: 100%;
    }
    .google-btn:hover{
      border: none;
      color: #0e802e;
    } 
    .google-btn:active{
      border:1,5px solid #0e802e;
      color: #0e802e;
    }



    .btn-submit:hover {
      background: linear-gradient(to right, #0e802e, #34c152);
      color: #fff;
    }
